.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 0s, 1s;
}

.habilidades{
    width: 100%;
}

tabindex,
.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
    transition-delay: 0s, 1s;
}


.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus{
    transform: rotate(10deg) scale(1.2);
}

tabindex,
.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus{
    transform: rotate(-10deg) scale(1.2);
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.container > p::first-letter{
    font-size: 200%;
    color: #3C1D3D;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before{
    content: '"';
    font-size: 10em;
    color: #bbb;
    position: absolute;
}

blockquote p{
    position: relative;
}

th{
    background-color: #851944;
    color: #fff;
    font-weight: bold;
}

thead th{
    background-color: #3C1D3D;
    color: #fff;
    font-weight: bold;
}

td{
    background-color: #EEE;
}

.habilidades{
    border-collapse: separate;
    border-spacing: 0.25em;
    margin: 1em 0;

}
.habilidades th, 
.habilidades td{
    padding: 1em;
}
.mesclada{
    font-style: italic;
    text-align: center;
    vertical-align: middle;
}