#nome,
#email,
#msn{
  font-family: inherit;
  font-size: 100%;
  padding: .25em .5em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

legend, #lmsn{
	font-weight: bold;
}

fiedtext{
	padding: 1em;
}

input:focus,
textarea:focus {
 	 background-color: #FFD;
}

input:invalid {
  box-shadow: 0 0 3px red;
}

button{
	border: 0;
	position: relative;
	float: right;
	background-color: #3C1D3D;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	color: #fff;
	font-size: 1.2em;
	padding: 0.5em;
}
button:focus,
button:hover{
	background-color: #8C1D3D;
	}

input[value="Outro"] ~ input {
  display: none;
}

input[value="Outro"]:checked ~ input {
  display: inline;
}

.com-icone {
    position: relative;
    margin-bottom: 0;
}
.com-icone::after {
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: #8C1D3D;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    top: 100%;
}
.com-icone + input {
    width: calc(100% - 2em);
    position: relative;
    left: 2em;
    margin-top: 0;
}
.com-icone[for="nome"]::after {
    background-image: url(../imagens/usuario.png);
}
.com-icone[for="email"]::after {
    background-image: url(../imagens/email.png);
}